# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven specific
target/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse specific
.settings/
.project
.classpath

# IDEA specific
*.iml
.idea/
